*.s#*
*.b#*
*.l#*
*.elf
*.lss
*.map
*.srec
*.d
*.o
Makefile
*.mk
*.eep
History/*
Project Logs*
__Previews*
*.xlsx
*.Txt
*.APR_LIB
*.DRR
*.EXTREP
*.GBL
*.GBP
*.GBS
*.GTL
*.apr
*.GBO
*.GML
*.GTO
*.GTP
*.GTS
*.LDP
*.REP
*.RUL
